.questions {
  display: flex;
  gap: 1px;
  margin-top: 40px;
  margin-bottom: 200px;
  @media (max-width: 1000px) {
    flex-direction: column;
    width: 100%;
    padding: 0 10px;
  }
  .question {
    display: flex;
    gap: 1px;
    position: relative;
    .date {
      position: relative;
      span {
        position: absolute;
        top: 5px;
        left: 5px;
      }
    }

    @media (max-width: 1000px) {
      flex-direction: column;
      width: 100%;
    }
    span {
      position: absolute;
      top: 5px;
      left: 10px;
      color: black;
      font-weight: 700;
    }
    select {
      width: 392px;
      height: 80px;
      background: white;
      color: black;
      font-size: 18px;
      border-radius: 5px;
      padding: 10px;
      @media (max-width: 1000px) {
        width: 100%;
      }
      @media (max-width: 570px) {
        height: 70px;
      }
    }
    input {
      width: 392px;
      height: 80px;
      background: white;
      border: none;
      padding: 10px;
      color: black;
      font-size: 18px;
      border-radius: 5px;
      &::placeholder {
        font-size: 18px;
      }
      @media (max-width: 1000px) {
        width: 100%;
      }
      @media (max-width: 570px) {
        height: 70px;
      }
    }
  }
  button {
    width: 194px;
    height: 80px;
    background: #f66600;
    border: none;
    font-size: 24px;
    cursor: pointer;
    position: relative;
    border-radius: 5px;
    @media (max-width: 1000px) {
      width: 100%;
    }
    @media (max-width: 570px) {
      height: 70px;
    }
    &:disabled {
      background: grey;
    }
  }
  .back {
    width: 90px;
    @media (max-width: 1000px) {
      display: none;
    }
  }
  .back-mobile {
    @media (min-width: 1000px) {
      display: none;
    }
  }
  .error-phone {
    position: absolute;
    left: 11px;
    color: red;
    bottom: 5px;
    @media (max-width: 1000px) {
      bottom: 88px;
    }
    @media (max-width: 570px) {
      font-size: 10px;
      bottom: 81px;
    }
  }

  .error-email {
    position: absolute;
    right: 166px;
    color: red;
    bottom: 5px;
    @media (max-width: 1000px) {
      left: 11px;
    }
    @media (max-width: 570px) {
      font-size: 10px;
      top: 119px;
      left: 11px;
    }
  }
  .buttons {
    display: flex;
    gap: 2px;
  }
  .success {
    margin-top: 65px;
    background-color: #fff;
    padding: 40px 40px;
    box-shadow: -1px -15px 30px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (max-width: 565px) {
      margin-top: 40px;
    }
    @media (max-width: 460px) {
      margin-top: 0px;
    }
    @media (max-width: 446px) {
      margin-top: -20px;
    }
    .top-upper {
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 30px;
      @media (max-width: 446px) {
        gap: 5px;
      }
      .title {
        color: var(--main);
        font-size: 60px;
        font-weight: 700;
        @media (max-width: 1000px) {
          font-size: 45px;
        }
      }
      .second-title {
        max-width: 800px;
        color: var(--main);
        font-size: 25px;
        line-height: 120%;
        font-weight: 500;
        @media (max-width: 1000px) {
          font-size: 20px;
        }
      }
      .third-title {
        font-weight: lighter;
        max-width: 800px;
        font-size: 24px;
        line-height: 130%;
        color: var(--main);
        @media (max-width: 1000px) {
          font-size: 18px;
        }
      }
    }
    button {
      height: 40px;
      width: 110px;
      margin-top: 20px;
    }
    .bottom {
      display: flex;
      justify-content: center;
    }
  }
}
