.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;

  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10px;
    max-height: 600px;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    width: 100%;
    background-position: center !important;
    .top {
      text-align: center;
      margin-top: 200px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      @media (max-width: 1000px) {
        margin-top: 70px;
      }
      @media (max-width: 400px) {
        margin-top: 30px;
      }
      .title {
        font-size: 76px;
        font-weight: 800;
        line-height: 100%;
        color: white;
        @media (max-width: 1000px) {
          font-size: 60px;
        }
      }
      .subtitle {
        font-weight: 800;
        line-height: 120%;
        font-size: 32px;
        color: white;
        @media (max-width: 1000px) {
          font-size: 28px;
        }
      }
    }
  }
  .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    .titles {
      display: flex;
      padding: 20px;
      gap: 20px;
      @media (max-width: 880px) {
        flex-direction: column;
      }
      .subtitle {
        display: flex;
        flex-direction: column;
        gap: 20px;
      }
      img {
        max-width: 500px;
        @media (max-width: 545px) {
          max-width: 100%;
        }
      }
      .first {
        font-size: 40px;
        max-width: 500px;
      }
      .second {
        font-size: 30px;
        color: #777;
        line-height: 110%;
        font-weight: lighter;
        max-width: 500px;
      }
      a {
        color: #f66600;
        font-size: 25px;
      }
    }
    .guarantees {
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding: 20px;
      gap: 50px;
      .up {
        display: flex;
        justify-content: center;
        gap: 120px;
        @media (max-width: 643px) {
          gap: 20px;
        }
        @media (max-width: 554px) {
          flex-direction: column;
        }
      }
      .down {
        background-color: #f7f7f7;
        max-width: 1030px;
        padding: 20px;
        img {
          max-width: 50px;
          border-radius: 50px;
        }
        p {
          font-weight: lighter;
          font-size: 22px;
          color: #444;
        }
      }
      .guarantee {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        img {
          width: 70px;
        }
        p {
          font-size: 25px;
          max-width: 250px;
        }
      }
    }
  }
  .third-section {
    text-align: center;
    margin-top: 100px;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    .title {
      display: flex;
      flex-direction: column;
      gap: 20px;
      .first {
        font-weight: 700;
        font-size: 58px;
        @media (max-width: 700px) {
          font-size: 40px;
        }
      }
      .second {
        color: #777;
        font-size: 32px;
        line-height: 110%;
        font-weight: lighter;
        @media (max-width: 700px) {
          font-size: 25px;
        }
      }
    }
    .description {
      background-color: #f7f7f7;
      padding: 20px;
      max-width: 1030px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      text-align: left;
      gap: 30px;
      img {
        width: 40px;
      }
      p {
        font-weight: lighter;
        color: #444;
      }
    }
  }
  .fourth-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 50px;
    margin-top: 100px;
    padding: 20px;
    .title {
      line-height: 110%;
      font-weight: 700;
      font-size: 48px;
    }
    .services {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 20px;
      @media (max-width: 1100px) {
        grid-template-columns: repeat(2, 1fr);
      }
      @media (max-width: 566px) {
        grid-template-columns: repeat(1, 1fr);
      }
      .service {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 10px;
        img {
          width: 250px;
        }
        .up {
          color: #3d204f;
          font-size: 28px;
          font-weight: 700;
          line-height: 110%;
          max-width: 220px;
        }
        .down {
          font-weight: lighter;
          font-size: 19px;
          max-width: 220px;
          color: #3d204f;
          height: 100%;
        }
      }
    }
    .text {
      margin-top: 50px;
      max-width: 1060px;
      background: #f7f7f7;
      padding: 20px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 20px;
      img {
        width: 45px;
      }
      p {
        color: #444;
        font-weight: lighter;
        text-align: left;
      }
    }
  }
  .fifth-section {
    padding: 20px;
    max-width: 1100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    p {
      margin-bottom: 50px;
      line-height: 110%;
      color: #3d204f;
      font-size: 48px;
      font-weight: 700;
    }
    @media (max-width: 1100px) {
      max-width: 100%;
    }
  }
  .sixth-section {
    max-width: 1065px;
    display: flex;
    flex-direction: column;
    @media (max-width: 1100px) {
      max-width: 100%;
      padding: 20px;
    }
    p {
      margin-bottom: 50px;
      line-height: 110%;
      color: #3d204f;
      font-size: 46px;
      font-weight: 700;
      text-align: center;
    }
    .reviews {
      overflow-x: auto;
      display: flex;
      gap: 20px;
      height: 100%;

      a {
        text-decoration: none;
        height: 100%;
        .each {
          display: flex;
          flex-direction: column;
          gap: 15px;
          padding: 20px;
          width: 290px !important;
          height: 100%;
          background-color: #f7f7f7 !important;
          strong {
            font-weight: 700;
            color: #3d204f;
            font-size: 28px;
          }
          p {
            color: #3d204f;
            font-weight: lighter;
            font-size: 19px;
            text-align: left;
          }
          .bottom {
            display: flex;
            justify-content: space-between;
          }
        }
      }
    }
  }
}
