.accordion-container {
  max-width: 1200px;
  width: 100%;
  margin: auto;
  padding: 20px;
}

.accordion-item {
  border-bottom: 1px solid #ccc;
}

.accordion-title {
  background-color: #fff;
  color: #333;
  cursor: pointer;
  padding: 20px;
  //   font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 30px;

  &.active {
    font-weight: bold;
  }
}

.accordion-content {
  background-color: #fff;
  color: #333;
  padding: 10px;
  font-weight: lighter;
  font-size: 22px;
  padding: 20px;
}

.accordion-arrow {
  font-size: 1.5rem;
  margin-left: 5px;
}
